*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/media/lib_album/build/
/media/lib_album/build/
/media/lib_album/album_demo/build/
/media/lib_album/build/
