*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/optional/lib_album/build/
/optional/lib_album/build/
/optional/lib_album/album_demo/build/
/optional/lib_album/build/
/.idea/
/.idea/
/lib_effect/animators_example/build/
/lib_effect/animators_example/build/
