<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxf.utils">
    <!-- 安装app -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 卸载app -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
</manifest>